@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 50rem;
  margin: 10rem auto;
  padding: 0.5rem 20px 1rem 20px;
  background-color: var(--light-blue);
  color: var(--white);
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.container h2 {
  text-align: center;
  font-size: 3rem;
}

#result {
  text-align: center;
  font-size: 3rem;
  border-bottom: 1px solid var(--white);
  padding: 1rem 0 0 0;
  margin-bottom: 3rem;
}

.btns {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem;
}

.btns a {
  text-decoration: none;
  color: var(--white);
}

#add {
  background-color: green;
  padding: 0.5rem 2rem;
  margin: 2rem 0;
  border-radius: 5px;
}

#reset {
  background-color: white;
  color: var(--black);
  padding: 0.5rem 2rem;
  margin: 2rem 0;
  border-radius: 5px;
}

#subs {
  background-color: orangered;
  padding: 0.5rem 2rem;
  margin: 2rem 0;
  border-radius: 5px;
}